<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="N/A transparent vov fade-in-up t-1">
                <div class="card-content no-scroll vov fade-in-up t-1">
                    <div class="card-title vov fade-in-up t-1">
                        <h2>Get to know me</h2>
                    </div>
                    <hr>
                    <img src="/images/profile.JPG" class="responsive-img left vov fade-in-up t-2" id="profilePic" alt="Responsive image">
                    <p class="flow-text white-text vov fade-in-up t-2">
                    My name is Alexander Delgado and I am a web developer. At least, I am starting to learn how to code. I am currently attending the UCF Coding Bootcamp and I cannot wait to jumpstart my career. I originally went to school for Hospitality Management, for which I almost graduated; but due to financial reasons, I was no longer able to attend classes. Since then, I have worked in the Hospitality field and have developed solid work experience in Customer Service. It has been a great journey, but I have gotten to a point where I need to lookout for my future and hone a skill I have always been interested in.
                    </p>
                    <br>
                    <p class="flow-text white-text vov fade-in-up t-3">
                    I first started coding back in Middle School about 16 years ago. I was a part of the Web Team, a group of students responsible for initializing and maintaining the school's website. Back then, it was mainly basic html and very small facets of CSS. When Myspace was big, I taught myself how to customize my webpage. However, I haven't worked with coding since then. This website will be used to track my progress in my development as a web developer.
                    </p>
                    <br>
                    <p class="flow-text white-text vov fade-in-up t-4">
                    Now for more information about me. I was born in North Hollywood, CA and moved to the Orlando area back in 1997. My mother is Colombian and my father is Mexican, so that makes me a 1st generation American. Spanish was my first language and I learned English in school. I learned French in High School, then Portuguese and Italian in college. I consider myself fluent in English and Spanish, conversationally fluent in French and Portuguese, but I am still struggling with Italian. 
                    </p>
                    <br>
                    <p class="flow-text white-text vov fade-in-up t-5"> 
                    I love to play video games, especially adventure and role playing games. My favorite game series would be The Legend of Zelda series and the Pokemon series. I also enjoy playing sandbox games, such as Rollercoaster Tycoon, and real time strategy games, such as Command and Conquer. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>