<div class="container homePage">
    <div class="row">
        <div class="col s12 vov fade-in-up t-1 center-align">
            <h2>
                <span>H</span>
                <span class="m-left">e</span>
                <span class="m-left">l</span>
                <span class="m-left">l</span>
                <span class="m-left">o</span>
            </h2>
        </div>
        <div class="col s12 vov fade-in-up t-2 center-align">
            <h2>
                <span>M</span>
                <span class="m-left">y</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left">n</span>
                <span class="m-left">a</span>
                <span class="m-left">m</span>
                <span class="m-left">e</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left">i</span>
                <span class="m-left">s</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left name">A</span>
                <span class="m-left name">l</span>
                <span class="m-left name">e</span>
                <span class="m-left name">x</span>
            </h2>
        </div>
        <div class="col s12 vov fade-in-up t-3 center-align">
            <h2>
                <span>&</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left">I</span>
                <span class="m-left">'</span>
                <span class="m-left">m</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left">a</span> 
                <span class="m-left">&nbsp;</span>
                <span class="m-left">W</span>
                <span class="m-left">e</span>
                <span class="m-left">b</span>
                <span class="m-left">&nbsp;</span>
                <span class="m-left">D</span>
                <span class="m-left">e</span>
                <span class="m-left">s</span>
                <span class="m-left">i</span>
                <span class="m-left">g</span>
                <span class="m-left">n</span>
                <span class="m-left">e</span>
                <span class="m-left">r</span>
            </h2>
        </div>
        <br>
        <br>
        <div class="col s12 vov fade-in-up t-4 center-align">
            <a class="waves-effect black white-text btn-large" href="/about">Click here to check me out!</a>
        </div>
    </div>
</div>